.hero {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}


/* GRID */

.trips-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}

/* CARD */

.trip-card {
  background: rgba(198,240,164,0.8);
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trip-img {
  height: 160px;
  background: white;
  border-radius: 4px;
}

.trip-content {
  background: white;
  padding: 10px;
}

.details-btn {
  background: #053B11;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

/* ADAPTIVE */

@media (max-width: 1100px) {
  .trips-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .trips-grid {
    grid-template-columns: 1fr;
  }
}
